services:
  db:
    container_name: dtwin-db
    image: postgres:latest
    restart: unless-stopped
    env_file : .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST_AUTH_METHOD=${POSTGRES_HOST_AUTH_METHOD}
    volumes:
      - dtwin-db:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - dtwin-network

  
  backend:
    env_file: .env
    build:
      context: ./back
      dockerfile: Dockerfile.dev
    volumes:
      - ./back:/app
    depends_on:
      mcp:
        condition: service_started
      db:
        condition: service_healthy
    ports:
      - "5000:5000"
    networks:
      - dtwin-network

  frontend:
    image: node:lts-alpine
    working_dir: /app
    env_file: ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: sh -lc "npm ci && npm run dev -- --host 0.0.0.0"
    depends_on:
      backend:
        condition: service_started
    ports:
      - "5173:5173"
    networks:
      - dtwin-network
    
  mcp:
    build:
      context: ./mcp
      dockerfile: Dockerfile.mcp
    ports:
      - "8000:8000"
    networks:
      - dtwin-network

volumes:
  frontend-build:
  dtwin-db:

networks:
  dtwin-network: