@import 'tailwindcss/utilities';

/* Text gradient utility */
.text-gradient {
  background-image: linear-gradient(
    to right,
    hsl(var(--violet-light)),
    hsl(291 95% 75%),
    hsl(var(--cyan-light))
  );
  -webkit-background-clip: text;
  color: transparent;
}

.animate-bounce-colorwave {
  animation:
    bounce 1.04s ease-in-out infinite,
    colorwave 0.9s ease-in-out infinite;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25%);
  }
}

@keyframes colorwave {
  0% {
    background-color: rgb(20, 20, 20);
  }
  50% {
    background-color: rgb(120, 120, 120);
  }
  100% {
    background-color: rgb(20, 20, 20);
  }
}
