[run]
source=back
omit=
    src/services/math_agent.py
    src/services/research_agent.py
    src/data_scripts/data_analysis_test_data.py
    tests/*

[report]
exclude_also =
    logger.
    if __name__ == .__main__.:
